block navigator
	nav.navbar.navbar-inverse.navbar-fixed-top
		div.container
			div.collapse.navbar-collapse(role='navigation')
				ul.nav.navbar-nav
					- var items = ["Room","Users","About"]
					each it in items
						- if (it.toLowerCase() == page)
							li.active
								a(href='/#{it.toLowerCase()}') #{it}
						- else
							li
								a(href='/#{it.toLowerCase()}') #{it}
				ul.nav.navbar-nav.navbar-right
					- if (user)
						li
							a(href='/panel') Panel
						li
							a(href='/logout') Logout
						li
							a(href='/users') #{user}
					- else
						li
							a(href='/login') Login
						li
							a(href='register') Register
