extends layout
block append head
	script(src="javascripts/room.js")
	link(rel='stylesheet', href='/stylesheets/room.css')

	
block content
	div.container
		h1 Room #{room}
		div.progress
			div#divA.progress-bar.progress-bar-info(style='width:30%')
				span Too fast
			div#divB.progress-bar.progress-bar-success(style='width:30%')
				span Good
			div#divC.progress-bar.progress-bar-warning(style='width:10%')
				span Too slow
			div#divD.progress-bar.progress-bar-danger(style='width:10%')
				span Give up
		div.well.hidden-xs
			div.container-fulid
				form.form-inline.pull-left(role='form',method='post',action='api/sendmessage')
					input(type='hidden',name='room',value='#{room}')
					div.form-group
						label Send Message
						span
							input.form-control(name='message')
						span 
							button.btn.btn-default(type='submit') Send
				div.btn-group.pull-right.hidden-xs.hidden-sm
					button.btn.btn-default(type='button',onclick='sendVote("#{room}","Fast")') Fast
					button.btn.btn-default(type='button',onclick='sendVote("#{room}","Good")') Good
					button.btn.btn-default(type='button',onclick='sendVote("#{room}","Slow")') Slow
					button.btn.btn-default(type='button',onclick='sendVote("#{room}","GiveUp")') GiveUp
			div(visibility=hidden)
				p(style='visibility:hidden') a
		div.pull-left(style='width:75%').hidden-xs.messageField
		div.pull-left(style='width:100%').hidden-sm.hidden-lg.hidden-md.messageField
		div.side-wall.well.pull-right.hidden-xs(style='width:20%')
			h3 Files
			each it in files
				p
					a(href='/uploads/#{room}-#{it}') #{it}
	script loadXMLDoc("#{room}")
	script updateVotingResult("#{room}")
